.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d1d4d7;
  margin-bottom: 1.5rem;
    box-shadow: 0;
    border-radius: 2px;
}

cb-send-check .card, cb-marketplace-send-check .card {
  color: #8ca0b3;
}

cb-account-layout .container-fluid.dashboard-layout-container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
